@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.app {
    background-color: #a9cfe9;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10rem;
}

.title{
    text-align: left;
    font-size: 3rem;
}

.headerContainer{
    background-color: #006391;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    }

.header{
        padding: 1rem 0 ;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 80%;
    }

.title img {
    width: 80px;
    cursor: pointer;
    transition: .2s;
}

.title img:hover{
    transform: rotate(90deg);
}

.title{
    display: flex;
    align-items: center;
}

.header span, .header a {
    text-decoration: none;
    color: #000;
    font-size: 35px;
    font-weight: 300;
    font-family: "Poppins";
    transition: .1s linear all;
}

.header a:hover{
    color: #727CF5;
}
.inputContainer{
    width: 50%;
    padding: 1rem;
    border-radius: 15px;
    border: none;
    opacity: .8;
    background-color: #dfdfdf;
}

.mainContainer {
    width: 100vw;
    height: 70vh;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 10px solid #000;
    border-bottom-style: groove;
}

.bgUrl{
    background-size: cover;
    background-position: center;
    box-shadow: 20px 5px 50px #436270;
}

.day{
    background-image: url('./assets/day.jpg');    
    background-size: cover;
    background-position: center;
    box-shadow: 20px 5px 50px #436270;
}

.night{
    background-image: url('./assets/night.jpg');    
    background-size: cover;
    background-position: center;
}

.btnShowMore{
    width: 100%;
    padding: 1rem;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    color: #FFF;
    background-color: #006391;
    cursor: pointer;
    transition: .1s;
    text-align: center;
}

.btnShowMore:hover{
    background-color: #005075;
}



